
* {
    margin: 0;
    padding: 0;
    
}

.main{
    width: 100%;
    background: linear-gradient(to top,rgba(68, 61, 61, 0.5)50%,rgba(68, 61, 61, 0.5)50%),url(encadrer-stagiaire.jpg );
    background-position: center;
    background-size: cover;
    height: 120vh;
}
.mainA{
    width: 100%;
    background: linear-gradient(to top,rgba(68, 61, 61, 0.5)50%,rgba(68, 61, 61, 0.5)50%),url(stagiaire.jpeg );
    background-position: center;
    background-size: cover;
    height: 120vh;
}
.mainC{
    width: 100%;
    background: linear-gradient(to top,rgba(68, 61, 61, 0.5)50%,rgba(68, 61, 61, 0.5)50%),url(centre_appel.jpg );
    background-position: center;
    background-size: cover;
    height: 120vh;
}
.mainH{
    width: 100%;
    background: linear-gradient(to top,rgba(68, 61, 61, 0.5)50%,rgba(68, 61, 61, 0.5)50%),url(help.jpg );
    background-position: center;
    background-size: cover;
    height: 120vh;
}
.mainCI{
    width: 100%;
    background: linear-gradient(to top,rgba(68, 61, 61, 0.5)50%,rgba(68, 61, 61, 0.5)50%),url(choix_inscription.jpg );
    background-position: center;
    background-size: cover;
    height: 120vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin:auto;
    padding: -2px;
}
.icon{
    width: 500px;
    height: 70px;
    float: left;
    
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    float: left;
    
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}
ul li {
    list-style: none;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 16px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4 ease-in-out;
}
ul li a:hover{
    color: #ff7200;
}
.search{
    width: 330px;
    float: right;
}
    
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background:transparent;
    border: solid #ff7200;
    color:#fff;
    border-right: none;
    font-size: 25px;
    float: left;
    padding: 12px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 20px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    color:white;
    font-size: 15px;
    
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: 0.4s ease;
    

}
.btn:hover{
    background: white;
    color: #ff7200;
}
.btn1{
    font-weight: bold;
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    transition: 0.4s ease;
    text-decoration: none;
}
.btn1:hover{
    background: white;
    color: #ff7200;
}
.btn2{
    font-weight: bold;
    width: 240px;
    height: 40px;
    background: #ff7200;
    border:none;
    margin-top: 80px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(237, 235, 235);
    transition: 0.4s ease;
    text-decoration: none;
    text-align: center;
    margin-left: 50;
}
.btn2:hover{
    background: white;
    color: #ff7200;
}
.btn2:focus{
    outline: none;
}
.titre{
    color:  #66FF66;
    margin-top: 140px;
    margin-left: 40%;
font-size: 60px;
}
.table {
    width: 100%;
    margin-top: 5%; 
padding-right:40px;;
}


.btn:focus{
    outline: none;
}
.btn1:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin-top: 90px;
    margin-left: 20px;
    color: white;
    position: relative;
}

.content .paragraphe{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 100px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 4s ease;
}
.content .cn a{
    text-decoration: none ;
    color: #000;
    transition: 3s ease ;
}
.cn:hover{
    background-color: #fff;
}
.content span{
    color: #ff7200;
    font-size: 80px;
    margin-left: 210px;
   
}
.email span{
    color: white;
    font-size: 50px;
    margin-left: 210px;

    font-family: 'Times New Roman';
    
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
   
}

.form{
    width: 250px;
    height: 420px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 850px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial;
}
.form p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.error-message {
    color: red;
    margin-top: 20px;
    font-size: 20px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

th {
    color: white ; /* Change this to the desired color */
    font-size: 50px;
    
    
}
tr{
    text-align: center;

}
td{
    color: white;
}





.text1{
    margin-left: 400px;
    margin-top: 50px;
}

.text1 .text2 {
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 15px;
    overflow: hidden;
    background: #ffff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}

.text1 .text2:hover {
    width: 200px;
}

.text1 .text2 .text3 {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3 ease-out;
}

.text1 .text2:nth-child(1):hover .text3{
    background: #4065b1;
}

.text1 .text2:nth-child(2):hover .text3{
    background: #f60002;
}

            .text1 .text2:nth-child(3):hover .text3{
    background: #fb3c7c;
}            

.text1 .text2:nth-child(4):hover .text3{
    background: #1c9cea;
}


.text1 .text2:nth-child(5):hover .text3{
    background: #058f2e;
}



.text1 .text2 .text3 a {
    color: #000;
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.text1 .text2:hover .text3 a {
    color: white;
}

.text1 .text2 span {
    font-size: 23px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

.text1 .text2:nth-child(1) span{
   color: #4065b1;
}

.text1 .text2:nth-child(2) span{
    color: #f60002;
}

.text1 .text2:nth-child(3) span{
    color: #fb3c7c;
}            

.text1 .text2:nth-child(4) span{
    color: #1c9cea;
}


.text1 .text2:nth-child(5) span{
    color: #058f2e;
}




